button {
    padding:40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-right: 10px;
    color: white;
    background: #3751ff;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0px 4px 8px 0pc #0005;
}
.button > a {
    padding:40px;
    padding-top: 11px;
    padding-bottom: 13px;
    margin-right: 10px;
    line-height: 85px;
    text-decoration: none;
    color: #3751ff;
    background: white;
    border-style: groove;
    border-color: #3751ff;
    border-radius: 3px;
    border: 1px solid;
    box-shadow: 0px 4px 8px 0pc #0005;
}


.links-b {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    gap: 25px;
    color: #8a8c99;
    
}
.links-b > a {
    text-decoration: none;
    color: #3751ff;
}