h1 {
    font-size: 30px;
    color: #3851fd;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 100px;
}
p {
    font-size: 30px;
    text-transform: capitalize;
    color: black;
    margin-bottom: 20px;
}
p:last-of-type {
    font-size: 20px;
    text-transform: none;
    color: #8a8c99;
}
.form-row {
    display: flex;
    flex-direction: column;
    width: 50%;
}
