body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main {
      width: 1400px;
      margin-left: calc(50% - 700px);
}
.left-column {
    float: left;
    padding: 80px;
    width: 40%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-column {
    background-image: url(../images/miestas.png);
    float: right;      
    width: 60%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
